/* Color Palette
-------------------------
Gray(text) - #707070;
Green(all other) - #228d66;
*/

/* Fonts
-------------------------*/
@font-face {
  font-family: Gotham;
  src: url(./fonts/gotham.woff);
}

/* Apply a natural box layout model to all elements,
but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *::after {
  box-sizing: inherit;
}

/* Global styles
-------------------------*/
body {
  font-family: Gotham;
  overflow-x: hidden;
}

p {
  color: #707070;
  text-align: justify;
}

.uppercase {
  text-transform: uppercase;
}

.border {
  border: 1px solid red;
}

.container {
  position: relative;
  width: 1280px;
  min-height: 800px;
  margin: 0 auto;
}

.container h1 {
  position: relative;
  text-transform: uppercase;
  font-size: 36px;
  width: 200px;
  color: #228d66;
  overflow: hidden;
}

main .content-wrapper {
  padding-top: 250px;
}

.content-wrapper {
  position: relative;
  width: 690px;
  min-height: 800px;
  margin: 0 auto;
}

.text {
  position: relative;
  font-size: 14px;
  margin-top: 30px;
  text-align: left;
  line-height: normal;
}

.more {
  width: 47px;
  min-height: 17px;
  position: relative;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 30px;
}

.more a {
  font-size: 16px;
  color: #228d66;
  text-decoration: none;
  margin: 0 auto;
}

/* Header
-------------------------*/
header {
  position: relative;
  width: 100%;
  height: 800px;
  background-image: url(../images/header-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

header .content-wrapper {
  position: relative;
  padding-top: 85px;
  min-height: 600px;
}

.light-transparent {
  background-color: rgba(255, 255, 255, 0.7);
  height: 800px;
  width: 100%;
  top: 0;
}

.top-bar {
  position: fixed;
  height: 200px;
  width: 1280px;
}

.logo {
  position: absolute;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  height: 145px;
  width: 110px;
  margin: 40px 0 0 80px;
}

.menu {
  position: absolute;
  top: 107px;
  right: 80px;
  text-decoration: none;
  font-size: 16px;
  color: #228b66;
}

.greeting {
  position: absolute;
  height: 273px;
  width: 293px;
  margin-top: 10px;
  margin-left: 95px;
  transform: rotate(-90deg);
}

.greeting p {
  font-size: 36px;
  font-weight: 300;
  color: #ffffff;
}

.header-text {
  position: relative;
  height: 300px;
  margin-top: 293px;
}

.header-text p {
  font-size: 36px;
  color: #228b66;

}

.header-text span {
  font-size: 72px;
}

/* Main
-------------------------*/
.offer-leafs {
  position: relative;
  height: 170px;
  width: 602px;
  margin: 0 auto;
  margin-top: 85px;
}

.col {
  width: 33%;
  height: 170px;
  float: left;
}

.leaf {
  margin: 0 auto;
  height: 113px;
  width: 89px;
  background-image: url(../images/leaf.png);
  background-repeat: no-repeat;
}

.leaf p {
  position: absolute;
  font-size: 14px;
  margin-top: 129px;
  color: #288d66;
  text-align: center;
}

.brand-identity p {
  height: 15px;
  width: 122px;
  margin-left: -16px;
}

.web-design-and-programming p {
  height: 31px;
  width: 155px;
  margin-left: -30px;
}

.printing-materials p {
  height: 15px;
  width: 151px;
  color: #228d66;
  font-size: 14px;
  margin-left: -30px;
  margin-top: 129px;
}

/* Footer
-------------------------*/
footer {
  width: 100%;
  min-height: 800px;
}

footer .content-wrapper {
  padding-top: 250px;
}
/* Media queries
-------------------------*/
@media only screen and (max-width: 1280px){
  .container {
    width: 100%;
    margin: 0 auto;
  }

  header {
    overflow: hidden;
  }

  .greeting p {
    font-size: 3vw;
    margin-top: -0.2vw;
  }

  .header-text p {
    font-size: 3vw;
  }

  .header-text span {
    font-size: 6vw;
  }

  .top-bar {
    width: 100%;
  }

  .content-wrapper {
    width: 43vw;
  }

  .offer-leafs {
    position: relative;
    width: 100%;
  }

 .offer-leafs .col {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 375px){
/* Global
-------------------------*/
  .container {
    width: 100%;
    min-height: 665px;
    height: auto;
  }

  .container h1 {
    font-size: 26px;
  }

  .content-wrapper {
    min-width: 165px;
    margin: 0 auto;
  }

  .more {
    min-height: 10px;
    width: 27px;
    margin: 0 auto;
    margin-top: 100px;
  }

  .more a {
    font-size: 9px;
  }
/* Header
-------------------------*/
  header {
    height: 665px;
  }

  header .content-wrapper {
    padding-top: 230px;
  }

  .light-transparent {
    min-height: 665px;
    height: auto;
  }

  .top-bar {
    min-height: 100px;
    width: 100%;
  }

  /* Samazinat logo */
  .logo {
    background-image: url(../images/logo-m.png);
    background-repeat: no-repeat;
    height: 80px;
    width: 60px;
    margin: 20px 0 0 24px;
  }

  .menu {
    top: 49px;
    right: 38px;
    font-size: 9px;
  }

  .greeting {
    height: 130px;
    width: 85px;
    margin: -130px 0 0 55px;
  }

  .greeting p {
    font-size: 12px;
    letter-spacing: .304px;
    line-height: 0.9;
    color: #ffffff;
  }

  .header-text {
    min-height: 83px;
    margin-top: -23px;
    word-spacing: -5px;
  }

  .header-text p {
    font-size: 16px;
  }

  .header-text span {
    font-size: 36px;
  }

/* Main
-------------------------*/
  main .content-wrapper {
    padding-top: 180px;
  }

  .offer-leafs {
    height: 300px;
    width: 123px;
    margin: 0 auto;
    margin-top: 50px;
  }

  .col {
    width: 100%;
    height: 100px;
    float: left;
    margin: 0 auto;
  }

  .leaf {
    width: 47px;
    height: 59px;
    background-image: url(../images/leaf-m.png);
    background-repeat: no-repeat;
  }

  .leaf p {
    font-size: 12px;
    text-align: center;
  }

  .brand-identity p {
    height: 13px;
    width: 106px;
    margin: 65px 0 0 -30px;
  }

  .web-design-and-programming p {
    height: 27px;
    width: 126px;
    margin: 65px 0 0 -40px;
  }

  .printing-materials p {
    height: 27px;
    width: 70px;
    margin: 65px 0 0 -13px;
  }
}
